@import '../../styles/variables.scss';

.required {
  position: relative;
  padding-right: 8px;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    content: ' *';
    color: red;
  }
}
.inputs {
  padding: 0 26px;
  margin-bottom: 40px;
  &__row {
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      .inputs__label {
        margin: auto 0;
      }
    }
    &:not(:nth-child(1)) {
      margin-top: 16px;
    }
  }
  &__label {
    font-size: $textSizeSm;
    text-align: left;
    position: relative;
  }
  &__select {
    width: 70%;
  }
}

.dateInputs {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: $textSizeSm;
  .datePicker {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 49%;
    position: relative;
  }
  .today {
    position: absolute;
    bottom: 2px;
    left: 10px;
    width: 60%;
    height: 26px;
    z-index: 1;
    background-color: white;
    cursor: text;
    pointer-events: none;
    display: flex;
    align-items: center;
    .hide {
      display: none;
    }
  }
}
