@import 'variables';

.card {
  margin: 30px auto;
  padding-top: 40px;
  max-width: 600px;
  background: #ffffff;
  box-shadow: $shadowMain;
  border-radius: $borderRadius;
  .title {
    color: $textColorMain;
    text-align: left;
    font-size: 24px;
    padding: 0 26px;
  }
  .footer {
    padding: 16px 24px;
    background-color: $backgroundLight;
    display: flex;
    justify-content: flex-end;
  }
  button {
    padding: 10px;
    border: none;
    border-radius: $borderRadius;
    background-color: $accent;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: darken($accent, 10%);
    }
    &:disabled,
    &[disabled] {
      background-color: #cccccc;
      cursor: initial;
    }
  }
}
