@import 'variables';

.stats {
  margin: 24px 40px;
  display: flex;
  justify-content: center;
  .box {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      border-right: 1px solid $border;
    }
    text-align: center;
  }
  .data {
    font-size: 30px;
    color: $textColorMain;
  }
  .subtext {
    font-size: 13px;
    color: $textColorLight;
  }
}
