// type
$textColorMain: #384045;
$textSizeSm: 14px;
$textSizeLg: 24px;

// colors
$backgroundLight: #f4f4f4;
$backgroundMain: #f2f2f2;
$accent: #98ca02;

// other
$shadowMain: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 2px 14px rgba(0, 0, 0, 0.06);
$borderRadius: 3px;
