@import '../styles/variables.scss';

.required::after {
  content: ' *';
  display: inline-block;
  color: red;
}
.inputs {
  &__row {
    display: flex;
    &:not(:nth-child(1)) {
      margin-top: 16px;
    }
  }
  &__label {
    font-size: $textSizeSm;
    &--left {
      flex: 1 0;
      justify-content: space-between;
      align-items: center;
      display: flex;
    }
    &--top {
      text-align: left;
    }
  }
  select,
  .date-input-container {
    width: 70%;
  }

  .date-input-container {
    display: flex;
    justify-content: space-between;
  }
}
