@import '../styles/variables.scss';

.required {
  position: relative;
  padding-right: 8px;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    content: ' *';
    color: red;
  }
}
.inputs {
  padding: 0 26px;
  margin-bottom: 40px;
  &__row {
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      .inputs__label {
        margin: auto 0;
      }
    }
    &:not(:nth-child(1)) {
      margin-top: 16px;
    }
  }
  &__label {
    font-size: $textSizeSm;
    text-align: left;
  }
  &__select,
  .date-input-container {
    width: 70%;
  }

  .date-input-container {
    display: flex;
    justify-content: space-between;
  }
}
