body {
  margin: 0;
  font-family: MuseoSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('assets/fonts/MuseoSans_500.otf') format('otf'),
    url('assets/fonts/MuseoSans_500.otf') format('otf');
  font-weight: 500;
}
